<?php 
/* Copyright 2011 - 88 Creative Pty Ltd. 
 * Copyright of this program is the property of 88 Creative, 
 * without whose written permission reproduction in
 * whole or in part is prohibited. All rights reserved.
 * http://www.inform8.com
 * http://www.88creative.com.au
 */
?><?php
	require 'requires.php';

	$HostName = "${config.host}";
	$DBName = "${config.dbname}";
	$DBUsername = "${config.user}";
	$DBPassword = "${config.pwd}";
	
	$link = mysql_connect($HostName, $DBUsername, $DBPassword);
	if (!$link) {
		die("Sorry Unable to Complete Your Request! Please Try Again Later");
	}
	mysql_select_db($DBName) or die("Error: Unable to find database");

?>