#* 
 Copyright 2011 - 88 Creative Pty Ltd. 
 * Copyright of this program is the property of 88 Creative, 
 * without whose written permission reproduction in
 * whole or in part is prohibited. All rights reserved.
 * http://www.inform8.com
 * http://www.88creative.com.au
*#
<html>
<head>
    <title><?php echo StaticConfig::getSiteName(); ?></title>

    <link type="text/css" href="css/i8.css" rel="stylesheet" />

    <link type="text/css" href="js/jquery/themes/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui-1.8.custom.min.js"></script>
    
    <link type="text/css" href="css/jqpatches.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jqpatches.js" ></script>
    
    <script type="text/javascript" src="plugins/jquery-validate/jquery.validate.min.js"></script>

    <script type="text/javascript" src="plugins/jixedbar/jixedbar.js"></script>
    <link type="text/css" href="plugins/jixedbar/themes/default/jx.stylesheet.css" rel="stylesheet" />

    <script type="text/javascript" src="plugins/fullcalendar/fullcalendar.min.js"></script>
    <link type="text/css" href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />

  <script type="text/javascript" src="plugins/hoverbox/hoverbox.js"></script>
  <link type="text/css" href="plugins/hoverbox/hoverbox.css" rel="stylesheet" />    
    
    <script type="text/javascript" src="plugins/rte/rte.js"></script>
    <link type="text/css" href="plugins/rte/rte.css" media="screen" rel="stylesheet" />
    
  <script type="text/javascript" src="plugins/iframepost/jquery.iframe-post-form.js"></script>
    
    <script type="text/javascript" src="js/i8.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#jack-feedback").jackfeedback({
                roundedCorners: true
            });
        }); 
    </script>
    
    <link rel="stylesheet" type="text/css" media="screen" href="plugins/jqgrid/css/ui.jqgrid.css" />
    <script src="plugins/jqgrid/src/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="plugins/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    
    <script type="text/javascript"> 
        window.I8 = new Object();
        window.I8.fkdata = new Object();
        window.I8.user = new Object();
        window.I8.user.lang = 'en';
        
        window.I8.grids = new Object();
        
        window.I8.cal = new Object();
        window.I8.cal.display = ${config.getAllProperties().getProperty('calendar.on', 'true')};
        
        <?php
            $settings = StorageIQL::select()->start(0)->limit(1)->getFirst();
          
            $storageFolder = $settings->getStorageFolder();
            $adminAccessFolder = $settings->getAccessLocation();
        ?>
        window.I8.storage = new Object();
        window.I8.storage.adminAccessFolder = '<?php echo $adminAccessFolder; ?>';
        
    </script>
    <script type="text/javascript" src="js/lang.min.js"></script>
</head>
<body>

<div id="jack-header" class="jack-header">
    <div class="jack-header-logo"><img src="images/logo.png" height="40"></div>
    <div class="jack-header-searchlogout">
        <a href="#"><?php echo WebContext::getLanguage()->get('help'); ?></a> &nbsp;&nbsp; | &nbsp;&nbsp; 
        <a href="index.php?logout=true"><?php echo WebContext::getLanguage()->get('logout'); ?></a>
    </div>
    <div style="clear: both;"></div>    
</div>
    
<div class="jack-menu">
    <?php include 'config/menu/goog-menu.php'; ?>
</div>

<div class="jack-ui-layout-content">
    <div class="jack-ui-layout-content1">
